<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Application</title>
</head>
<body>
    <h1>Iris Application</h1>
    <hr>
    <form action="result">
        Sepal length: <input type="number" name="sepal_len"><br>
        Sepal width: <input type="number" name="sepal_width"><br>
        Petal length: <input type="number" name="petal_len"><br>
        Petal width: <input type="number" name="petal_width"><br>

        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>